
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
 input[type="checkbox"].visually-hidden,
 input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #f7e296;
}

.user-navigation {
  list-style: none;

}

.search-form form {
  display: flex;
}
       
.search-form input[type="search"] {
  font: inherit;
  background-color: #f7e296;
  opacity: 0.3;
  margin-left: 35px;
  border: none;
}

.user-navigation::before {
  content: "";
  
  position: absolute;
  top: 59px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-form input[type="search"]:hover {
  opacity: 0.6;
}

.search-form input[type="search"]:focus {
  outline: none;
  color: #000;
  opacity: 1;
}

input[type="search"]:focus ~ button {
  color: #000;
  border: 2px solid #000;
  background-color: #f7e296;
}

input[type="search"]:focus ~ button:hover {
  color: #fff;
  background-color: #000;
}

.search-form button {
  display: block;

  margin-left: auto;  
  padding: 12px 20px;
  color: #000;
  background-color: #f7e296;

  border: 2px solid transparent;
}

.search-form button:focus {
  outline: none;
}

.search-form button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000;
}



.user-navigation a,
.site-navigation a {
  display: block;
}

.login-link {
  position: relative;

  padding-left: 30px;
}

.login-link::before{
  content: "";
  
  position: absolute;
  left: 0;
  top: 9px;
  
  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link:active::before {
  opacity: 0.3;
}

.comparison-goods {
  position: relative;
}

.comparison-goods::before {
  content: "";
  
  position: absolute;
  left: 5px;
  top: 10px;
  
  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.comparison-goods:active::before {
  opacity: 0.3;
}

.cart {
  position: relative;
}

.cart::before {
  content: "";
  
  position: absolute;
  left: 15px;
  top: 10px;
  
  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart:active::before {
  opacity: 0.3;
}

.user-navigation a {
  color: #000;
}

.user-navigation a:hover,
.user-navigation a:focus {
  opacity: 0.6;
}

.user-navigation a:active{
  opacity: 0.3;
}

.site-navigation {
  list-style: none;
}

.site-navigation-item > a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000;
}

.site-navigation-item > a:hover,
.site-navigation-item > a:focus {
  opacity: 0.6;
}

.site-navigation-item > a:active {
  opacity: 0.3;
}

.catalog  {
  list-style: none;
}

.catalog a {
  line-height: 36px;
  color: #000;
}

.catalog a:hover,
.catalog a:focus {
  opacity: 0.6;
}

.catalog a:active {
  opacity: 0.3;
}

.main-slider-controls {
  list-style: none;
}

.goods-list {
  list-style: none;
}

.slogan b {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000;
}

.table th {
  font: inherit;
  font-size: 13px;
  line-height: 20px;
}

.table td {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  vertical-align: middle;
}

.button:hover {
  background-color: #f7e296;;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.category-list {
  list-style: none;
}

.category-item h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
}

.category-item h3:active {
  opacity: 0.3;
}

.services-slider-controls {
  list-style: none;
}

.services-description {
  list-style: none;
}

.button-service:active {
  background-color: #000;
  color: #f7e184;
}

.services-description h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000;
}

.store-info h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000;
}

.transport-company-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000;
}

.main-footer {
  background-color: #464646;
}

.logo-footer {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 120%;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffc600;
}

.logo-footer:hover,
.logo-footer:focus {
  opacity: 0.6;
}

.logo-footer:active{
  opacity: 0.3;
}

.footer-user-navigation {
  list-style: none;
}

.footer-user-navigation a {
  line-height: 36px;
  color:#fff;
  opacity: 0.7;
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
  opacity: 1;
}

.footer-user-navigation a:active {
  opacity: 0.3;
}

.footer-middle p {
  color: #fff;
}

.footer-services a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-weight: 800;
  color: #fff;
}

.footer-services a:hover,
.footer-services a:focus {
  opacity: 0.6;
}

.footer-services a:active {
  opacity: 0.3;
}

.footer-social {
  list-style: none;
}

.write-us-list {
  list-style: none;
}

.write-us-item label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
}

.write-us-item input,
.write-us-item textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #464646;
  background-color: #f2f2f2;
  
  border: none;
}

.write-us button {
  background-color: #fff;
  border: none;
}

.logo-device:hover,
.logo-device:hover {
  opacity: 0.6;
}

.logo-device:active{
  opacity: 0.3;
}

.logout-link {
  opacity: 0.3; 
}

.container h1 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-item a,
.breadcrumbs-item-current {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.3;
  color: #000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 1;
}

 .breadcrumbs a:active {
  opacity: 0.1;
}

.filter-container h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
}  

.filter-fieldset {
  border: none;
}

.filter-fieldset legend  {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
}

.filter-fieldset ul {
  list-style: none;
}

.color-catalog-container {
  background-color: #ff0000;
}

.color-option label {
  font-size: 14px;
  line-height: 40px;
  color: #000;
}

.blutooth-option-item label {
  font-size: 14px;
  line-height: 40px;
  color: #000;
}

.filters button {
  background-color: #fff;
  border: none;
}

.sorting-list {
  list-style: none;
}

.sorting-arrows {
  list-style: none;
}

.sorting-item a{
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0;
  color: #000;
  opacity: 0.3;
}

.sorting-item a:hover,
.sorting-item a:focus {
  opacity: 0.6;

}
 .sorting-item a:active {
  opacity: 1;
}

.selfie-sticks-list {
  list-style: none;
}

.selfie-stick-info-line h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
}

.selfie-sticks-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300; 
}

.add-to-comparsion {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #000;
  opacity: 0.5;
}

.add-to-comparsion:hover,
.add-to-comparsion:focus {
  opacity:1;

}
.add-to-comparsion:active {
  opacity: 0.2;
}

.pagination-list {
  list-style: none;
  background-color: #f2f2f2;
}

.pagination-item a,
.pagination-item-current {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000;
  opacity: 0.3;

}
.pagination-item a:hover,
.pagination-item a:focus {
  opacity: 0.6;

}
 .pagination-item a:active {
  opacity: 1;
}

 .pagination-item-current,
 .pagination-item-previous a,
 .pagination-item-next a {
  opacity: 1;
} 

.pagination-item-previous a:hover,
.pagination-item-previous a:focus,
.pagination-item-next a:hover,
.pagination-item-next a:focus {
  background-color: #d9d9d9;
}

.pagination-item-previous a:active,
.pagination-item-next a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* -------------Сетки----------------- */

html, body {
  min-width: 1200px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px; 
}

.main-header {
  position: relative;

  width: 1040px;
  min-height: 300px;
  margin: 40px auto 0;
  padding: 0 60px;

  border-top: 1px solid transparent;
}

.logo-device {
  position: absolute;

  top: -20px;
  width: 164px;
  height: 36px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin: 45px 0 0;
  padding: 0;
}

.search-form {
  width: 440px;
}

.login-link {
  width: 230px;
  margin-left: 100px;
}

.comparison-goods {
  width: 70px;
  margin-left: 25px;
  padding-left: 30px;
}

.cart {
  width: 70px;
  margin-left: auto;
  padding-left: 30px;

  text-align: right;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  margin: 45px 0 0;
  padding: 0;
}

.navigation-item-catalog {
  width: 300px;
}

.navigation-item-delivery {
  width: 160px;
  margin-left: 240px;
}

.navigation-item-warranty {
  width: 140px;
}

.navigation-item-contacts {
  width: 120px;
  margin-left: auto;
}

.catalog {
  display: none;

  margin: 0;
  padding: 0;
}

.goods-list {
  margin: 0;
  padding: 0;
}

.main-slider {
  position: relative;
  display: flex; 
 
  margin: 0 auto;
  
}

.main-slider-controls button{
  display: none;
}

.image-block {
  position: relative;
  top:-105px;
  width: 530px;
  
  text-align: center;
}

.description-column {
  position: relative;
  top:-75px;
  width: 495px;
  margin-left: 40px;
}

.description-column p {
  margin-top: 30px;
  padding: 0;
}

.description-column .button {
  display: block;
  margin-top: 50px;
  padding: 0;
}

.table {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
  margin-top: 65px;
} 

.table-width {
  width: 180px;
}

.table-cell {
  padding-top: 15px;
}

.bracelet-slider {
  display: none;
}

.quadrupter-slider {
  display: none;
}

.category-list {
  display:flex;
  justify-content: space-between;
  
  margin: 115px 0 0;
  padding: 0;
}

.category-item {
  width: 160px;
}

.services {
  margin-top: 190px;

  background-color: #e5e5e5;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
 
  min-height: 290px;
}

.services-slider-controls {
  position: relative;
  top: -15px;

  width: 300px;
  margin: 0;
  padding: 0;
}

.services-slider-item {
  margin-bottom: 15px;  
}

.services-slider-item label {
  cursor: pointer;
}

.services-description {
  width: 600px;
  margin: 0;
  
  padding-left: 100px;
}

.services-description h3 {
  position: relative;
  top: -25px;
  margin: 0;
  padding: 0;
}

.warranty-description {
  display:none
}

.credit-description {
  display:none
}

.brand-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  margin: 100px 0 0;
  padding: 0;

  list-style: none;
}

.store-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 100px;
  margin-bottom: 70px;
}

.about-us {
  width: 530px;
}

.about-us p {
  margin: 0;
  padding: 0;
}

.about-us p:first-of-type {
  margin-top: 55px;
}

.about-us p:nth-of-type(2) {
  margin-top: 35px;
}

.contacts {
  width: 560px;
}

.contacts p {
  margin: 0;
  padding: 0;
}

.contacts p:first-of-type {
  margin-top: 55px;
}

.contacts img {
  margin-top: 45px;
}

.transport-company-list {
  margin: 70px 0 0;
  padding: 0;
  padding-left: 15px;
}

.store-info-button {
  display: block;

  width: 260px;
  margin-top: 80px;
}

.main-footer {
  
  padding-top: 65px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
 
  vertical-align: middle;
}

.logo-footer {
  width: 200px;
  margin: 0; 
  padding: 0;
}

.footer-user-navigation {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-left: auto;
  padding: 0;
}

.footer-login-link {
  width: 210px;
}

.footer-comparison-goods {
  width: 100px;
  margin-left: 70px;
}

.footer-cart {
  width: 80px;
  margin-left: auto;
}

.footer-middle {
  display: flex;
  flex-wrap: wrap;

  margin-top: 45px;
}

.footer-middle p {
  margin: 0;
  padding: 0;
}

.footer-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 430px;
  margin: 0;
  margin-left: 165px;
  padding: 0;

  text-transform: uppercase;
}

.footer-middle .footer-phone {
  width: 170px;
  margin-left: auto;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;

  margin: 65px 0 0;
  padding: 0;
}

.footer-bottom a { /* временно*/
  color: white; 
}

.footer-bottom p {
  margin: 0;
  padding: 0;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.footer-bottom .copyright {
  margin-left: auto;
}

/* форма */

.write-us {
  width: 960px;
  min-height: 555px;
  margin: 0 auto;
  box-shadow: -10px 20px 20px 0 rgba(0, 0, 0, 0.2);
  border-top: 1px solid transparent;
}

.form-container {
  display: flex;
  flex-wrap: wrap;

  width: 760px;
  margin: 100px auto 0;
}

.write-us-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
  margin: 0;
  padding: 0;
}

.write-us-item p {
  margin: 0;
  padding: 0;
}

.write-us-item input[type="text"] {
  width: 340px;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 35px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  vertical-align: middle;
}

.write-us-item textarea {
  width: 740px;
  min-height: 160px;
  padding-top: 15px;
  padding-left: 20px;

  resize: none;
}

.write-us-item input,
.write-us-item text-area {
  display: block;
}

.text-area-item {
  margin-top: 10px;

}
.write-us button {
  display: block;

  width: 140px;
  margin-left: 100px;
  margin-top: 30px;
}

.modal {
  display: none;
}

/* Каталог */


.catalog-header {
  min-height: 190px;
}

.header-username {
  width: 260px;
  text-align: right;
}

.logout-link {
  width: 80px;
  margin-left: 20px;
}

.container h1 {
  padding-left: 60px;
  margin-top: 45px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 385px;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 50px;
  padding: 0;
  padding-left: 60px;
}

.color-list {
  margin: 0;
  padding: 0;
}

.blutooth-option-list {
  margin: 0;
  padding: 0;
}

.filter-container {
  display: flex;
  align-items: center;
 
  
}

.color-filter-container {
  background-image: linear-gradient(to right, #dcdcdc 50%, #ebebeb 50%)
}

.header-filter-container {
  width: 270px;
  padding-left: 60px;
  background-color: #dcdcdc;
}

.catalog-columns {
  display: flex;
  
}

.color-catalog-container {
  background-image: linear-gradient(to right,#ebebeb 50%, #fff 50%);
}

.filter-form {
  width: 250px;
  padding-top: 70px;
  padding-left: 60px;
}

.goods-info-column {
  width: 770px;
  padding-left: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #fff;
}


.filter-fieldset {
  padding: 0;
}

.blutooth-option-list {
  margin: 0;
  padding: 0;
}

.sorting-list {
  margin: 0;
  padding: 0;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 835px;
  padding-left: 70px;
 
  background-color: #ebebeb;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
}

.selfie-sticks-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 760px;
  margin: 0;
  padding: 0;
}

.selfie-sticks-price {
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.selfie-stick-info-line {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.selfie-sticks-image {
  width: 360px;
}

.selfie-stick-info-line h3 {
  width: 260px;
  margin: 0;
  padding: 0;
}

.add-to-comparsion {
  display: none;
}

.add-to-cart {
  display: none;
}

.sorting-item-price {
  margin-left: 40px;
}

.sorting-item-type {
  margin-left: 25px;
}

.sorting-item-popular {
  margin-left: 35px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  width: 700px;
  margin: 0;
  margin-top: 40px;
  padding: 30px;

  text-transform: uppercase;
}

.pagination-item {
  display: flex;
  flex-wrap: wrap;

  margin-left: 30px;
}

.pagination-item-previous {
  margin-right: auto;
  margin-left: 0;
}

.pagination-item-next {
  margin-left: auto;
}

.pagination-item-current a,
.pagination-item-current a:hover{
  color: #000;
  opacity: 1;
}

.footer-username {
  width: 245px;
  margin-left: 400px;

  text-align: right;
}

.catalog-logout-link {
  width: 45px;
  margin-left: 15px;
  opacity: 0.3; 
}

.catalog-comparison-goods {
  width: 100px;
  margin-left: 35px;
}

